@import "./mixins.sass"
    
#footer
    display: flex
    justify-content: center
    align-items: center

    > *
        margin: 6vh 5vw
        +columnify
        h4
            margin: 15px
        
        h4, .fab
            +resp-font(1.4em)
            @media (max-width: 600px)
                +resp-font(.9em)

    > #info > p
        +resp-font(.8em)

    > #social
        .fab
            margin: 0 10px
            transition: .2s
            cursor: pointer

        .fab:hover
            color: blanchedalmond