#intro
  display: flex
  justify-content: center
  align-items: center
  background:
    image: url("../images/school.jpeg")
    repeat: no-repeat
    size: cover
    position: 50% 50%

  > div
    margin: 0
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: rgba(0, 0, 0, 0.7)

  .logo
    width: 250px
    height: 250px

  h3
    color: 
    @media (max-width: 600px)
      font-size: 2.2em
      font-size: calc(1.5vh + 3vw + 2em)
    @media (min-width: 600px)
      font-size: 2.5em
      font-size: calc(2vh + 4vw + 2em)

  h2
    text-align: center
    padding: 6px
    margin: 4vh 0
    max-width: 92vw
    border-radius: 6px
    @media (min-width: 450px)
      +resp-font(1.4em)
    @media (max-width: 450px)  
      +resp-font(1em)

  .fa-sort-down
    color: 
    font-size: calc(.8vh + .8vw + 4em)
    cursor: pointer
    animation:
      name: wiggle
      duration: 1s
      iteration-count: infinite



@keyframes wiggle
  0%
    transform: translateY(0)
  40%
    transform: translateY(8px)
  60%
    transform: translateY(6px)
  100%
    transform: translateY(0)