#navigation
    position: fixed
    top: 0
    right: 0
    width: 0
    height: 0
    animation:
        name: grow
        duration: .6s
        fill-mode: forwards
    transition: .3s
    padding: 0 6px
    z-index: 10
    border-bottom: 3px #0d0d0d solid

    a
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        text-decoration: none
        font-weight: 700
        margin: 0 1vw
        color: 
        +resp-font(.9em)
        padding:  8px
        border-radius: 5px
        transform: scale(0) translateY(75%)
        opacity: 0
        transition: .4s

        &:hover
            color: burlywood

#nav-toggle
    top: 0
    right: 0
    padding: 12px
    display: flex
    justify-content: center
    align-items: center
    z-index: 10000
    position: fixed
    transition: .6s
    .fa-bars
        padding: 6px
        border-radius: 4px
        z-index: 10
        cursor: pointer
        @media (max-width: 600px)
            font-size: 1em
        @media (min-width: 600px)
            font-size: 1.4em

@keyframes grow
    0%
        border-bottom-left-radius:  400%
        width: 0
        height: 0
    100%
        border-bottom-left-radius: 300%
        width: 34vh
        height: 34vh

@keyframes shrink
    0%
        border-bottom-left-radius:  400%
        width: 34vh
        height: 34vh
    100%
        border-bottom-left-radius: 300%
        width: 0
        height: 0
