article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
	box-sizing: border-box;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Addtions by Ammar <ammar.netlify.com> */
h1, h2, h3, p{
	margin: 0;
	padding: 0;
}

div, p{
	line-height: 1.3
}

p{
	font-family: Inconsolata, monospace;
}

h1{
	text-align: center;
	font-family: "bree serif", serif;
}

a{
	color: inherit
}